.editor-container {
  height: 80px;
  margin: 2em;
  border: 2px solid red;
}

h1 {
  margin: 15px;
  color: darkblue;
  height: 37px;
}
:host ::ng-deep .decorationsOverviewRuler {
  display: none;
}
